.env
.DS_Store
*.log
.idea/
.vscode/
*.pyc
.ipynb_checkpoints
results/
models/
**/__pycache__/
*.py[cod]
*$py.class
dataset/
ffmpeg*
ffmprobe*
ffplay*
debug
exp_out
.gradio
test_audio.wav
test_video.mp4